[submodule "lib/autoEnv"]
	path = lib/autoEnv
	url = git://github.com/VRGhost/AutoEnv.git
[submodule "lib/bitbucket"]
	path = lib/bitbucket
	url = git://github.com/VRGhost/python-bitbucket.git
[submodule "lib/github3"]
	path = lib/github3
	url = git@github.com:VRGhost/python-github3.git
